node_modules/
vendor/
dist/
.env
**/.env
.DS_Store
*.log
client/dist/
client/node_modules/
server/vendor/
server/node_modules/
server/storage/logs/*
server/storage/framework/cache/*
server/storage/framework/sessions/*
server/storage/framework/views/*
server/bootstrap/cache/*.php
server/database/*.sqlite
!.gitkeep
.idea/
.vscode/
*.pem
